<tr>
	<td>
	  <%=h article.date %>
	</td>
	
	<td>
	  <%=h article.from %>
	</td>
	
	<td>
	  <%=h "*" * level %>
          <!--	  
            <%=h article.subject %>
          -->
	 <%= link_to article.subject, article_path(article) %> 
	</td>
</tr>
<%= render(:partial => "article", :collection => article.children, :locals => {:level => level += 1 }) %>
