<h1>Newsgroups</h1>

<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Updated</th>
    <th>Messages</th>
  </tr>

<% for newsgroup in @newsgroups %>
  <tr>
    <td><%= link_to(image_tag(newsgroup.icon_url), newsgroup.alternate_link) %></td>
    <td><%= link_to newsgroup.title, newsgroup %></td>
    <td><%=h newsgroup.updated %></td>
    <td><%=h newsgroup.articles.size %></td>
    <td><%= link_to 'Edit', edit_newsgroup_path(newsgroup) %></td>
    <td><%= link_to 'Destroy', newsgroup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New newsgroup', new_newsgroup_path %>
