<h1>Listing newsgroups</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Alternate link</th>
    <th>Icon</th>
    <th>Subtitle</th>
    <th>Updated</th>
    <th>Generator</th>
  </tr>

<% for newsgroup in @newsgroups %>
  <tr>
    <td><%=h newsgroup.title %></td>
    <td><%=h newsgroup.alternate_link %></td>
    <td><%= image_tag newsgroup.icon_url %></td>
    <td><%= newsgroup.subtitle%></td>
    <td><%=h newsgroup.updated %></td>
    <td><%=h newsgroup.generator %></td>
    <td><%= link_to 'Show', newsgroup %></td>
    <td><%= link_to 'Edit', edit_newsgroup_path(newsgroup) %></td>
    <td><%= link_to 'Destroy', newsgroup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New newsgroup', new_newsgroup_path %>
