<h1>New newsgroup</h1>

<% form_for(@newsgroup) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :feed_url %><br />
    <%= f.text_field :feed_url %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', newsgroups_path %>
