<p>
  <b>Title:</b>
  <%=h @newsgroup.title %>
</p>

<p><b>Stats</b><br />
<%= @newsgroup.articles.size %> articles 
<% 
earliest = @newsgroup.articles.find(:first, :order => "date ASC")
if earliest
%>
since <%= earliest.date %><br />
<%=h(@grouped_by_from.size)%> distinct authors<br />
</p>

<p><b>Top 5 Authors</b><br />
<img src="http://chart.apis.google.com/chart?cht=bvg&chs=300x100&chd=t:<%=@top_authors.collect{|a| (a.a_count.to_f / @max_per_author.to_f * 100).to_i}.join(',')%>&chdl=<%=@top_authors.collect{|a| CGI::escape(a.from) << ' (' << a.a_count << ')'}.join('|')%>&chco=FF0084|4096EE|FF7400|006E2E|CC0000"/>
</p>

<% end %>

<p>
  <b>Alternate link:</b>
  <%=h @newsgroup.alternate_link %>
</p>

<p>
  <b>Icon:</b>
  <%= image_tag @newsgroup.icon_url %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @newsgroup.subtitle %>
</p>

<p>
  <b>Updated:</b>
  <%=h @newsgroup.updated %>
</p>

<p>
  <b>Generator:</b>
  <%=h @newsgroup.generator %>
</p>
<a name="articles"/>
<table>
	<tr>
		<th>
		  <b>Date:</b>
		</th>
		
		<th>
		  <b>From:</b>
		</th>
		
		<th>
		  <b>Subject:</b>
		</th>
	</tr>
<%= render(:partial => "article", :collection => @newsgroup.threads.sort{|a,b| a.date <=> b.date}, :locals => {:level => 0 }) %>
</table>

<%= link_to 'Edit', edit_newsgroup_path(@newsgroup) %> |
<%= link_to 'Back', newsgroups_path %>
